body{
	background-color:#F7DC6F;
}
.introduccion{
	background-color:#F9E79F;
	border-radius: 5px;
	position: absolute;
	top:30px; left:15px;
	height:500px;  width: 1325px;
}
.imagen{
	position: absolute;
	top: 25px; left: 20px;
}
.introtxt{
	position:absolute;
	top:25px; left:350px;
	font-family:Helvetica;
}
	

	