body{
	background-color:#F7DC6F;
}
html{
scroll-behavior: smooth;
}
.callgore{
	position: absolute;
	left: 535px; top:-20px;
	font-family:Bradley Hand ITC;
	font-size:60px;
}
.logpng1{
	position: absolute;
	left: 900px;
}
.logpng2{
	position: absolute;
	left: 80px;
}
.Encabezado{
	background-color:#F9E79F;
	border-radius: 5px;
	height:300px;  width: 1325px;
}
.introduccion{
	background-color:#F9E79F;
	border-radius: 5px;
	position: absolute;
	top: 50px; left:10px;
	height:400px;  width: 1325px;
}
.imagen{
	position: absolute;
	top: 25px; left: 20px;
}
.introtxt{
	position:absolute;
	top:25px; left:400px;
	font-family:Helvetica;
	font-size:20px;
	width:800px;
}
.email{
	position: absolute;
	top:300px; left:250px;
	color:FDFEFE;
	border-radius: 5px; 
	background-color: #F4D03F;
	padding:15px;
	text-decoration:none;
}
.email:hover{
	background-color: #F7DC6F;
}

.ig{
	position: absolute;
	top:300px; left:0px;
	text-decoration:none;
	color:FDFEFE;
	border-radius: 5px; 
	background-color: #F4D03F;
	padding:15px;
}
.ig:hover{
	background-color: #F7DC6F;
}
.filtro1{
	background-color:#F9E79F;
	border-radius: 5px;
	position: absolute;
	top: 50px; left:10px; margin-bottom:25px;
	height:400px;  width: 1325px;
}
.video1{
	position: absolute;
	top: 25px; left: 20px;
}
.f1txt{
	position:absolute;
	top:25px; left:400px;
	font-family:Helvetica;
	font-size:20px;
	width:800px;
}
.ig7zvalorant{
	position:absolute;
	left:140px;
	text-decoration:none;
	color:FDFEFE;
	border-radius: 5px; 
	background-color: #F4D03F;
	padding:15px;
}	
.ig7zvalorant:hover{
	background-color: #F7DC6F;
}
.filtro2{
	background-color:#F9E79F;
	border-radius: 5px;
	position: absolute;
	top: 50px; left:10px; margin-bottom:25px;
	height:400px;  width: 1325px;
}
.video2{
	position: absolute;
	top: 25px; left: 20px;
}
.f2txt{
	position:absolute;
	top:25px; left:400px;
	font-family:Helvetica;
	font-size:20px;
	width:800px;
}
.igdocksudesports{
	position:absolute;
	left:140px;
	text-decoration:none;
	color:FDFEFE;
	border-radius: 5px; 
	background-color: #F4D03F;
	padding:15px;
}	
.igdocksudesports:hover{
	background-color: #F7DC6F;
}
.juego1{
	background-color:#F9E79F;
	border-radius: 5px;
	position: absolute;
	top:50px; left:10px; margin-bottom:25px;
	height:400px;  width: 1325px;
}
.imagenj1{
	position: absolute;
	top: 25px; left: 20px;
}
.juegotxt{
	position:absolute;
	top:25px; left:400px;
	font-family:Helvetica;
	font-size:20px;
	width:800px;
}
.botond{
	position:absolute;
	left:140px;
	text-decoration:none;
	color:FDFEFE;
	border-radius: 5px; 
	background-color: #F4D03F;
	padding:15px;	
}
.botond:hover{
	background-color: #F7DC6F;
}
	
	

	